body {
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "header header"
    "content content"
    "footer footer";
}

#footer {
  border: 0.5px solid rgb(156, 155, 155);
}

#header {
  grid-area: header;
  background: linear-gradient(to bottom, rgb(126, 44, 233), rgb(81, 81, 231));
}
#content {
  grid-area: content;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(221, 197, 243));
}
#footer {
  grid-area: footer;
  background-color: rgb(221, 221, 221);
}

a{
  text-decoration: none;
  margin-left: 70px;
  color: rgb(223, 223, 223);
  font-size: 30px;
}

a:hover{
  color: rgb(255, 221, 70)
}

.opition{
  text-align: right;
  margin-right: 15vh;
  margin-top: -56px;
}

.text{
  text-align: center;
}

.information{
  font-size: 25px ;
  text-align: right;
  margin-right: 50px;
  display: flex;
  margin-top: 50px;
}

.img{
  height: 250px;
  margin-left: 10%;
}

.img2{
  height: 250px;
  margin-right: 10%;
  margin-left: 30px;
}

.logo{
  height: 70px;
  margin-top: 12px;
  margin-left: 50px ;
}

.text1{
  font-size: 20px;
  text-align: left;
  width: 50%;
  margin: 0;
}
.text2{
  font-size: 20px;
  text-align: right;
  width: 50%;
  margin: 0;
}

.information2{
  font-size: 25px ;
  text-align: right;
  margin-right: 50px;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.new-task{
  height: 30px;
  margin-left: 120px;
  border: 2px solid #000000;
  border-radius: 3px;
  outline: none;
  transition: 0.7s;
}

.new-task:focus{
  width: 180px;
  border-color: rgb(255, 0, 255);
}

button{
  height: 36px;
  width: 40px;
}

.barra{
  display: inline-flex;
}