body {
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "header header"
    "content content"
    "footer footer";
}

#footer {
  border: 0.5px solid rgb(156, 155, 155);
}

#header {
  grid-area: header;
  background-color: rgb(142, 44, 235);
}
#content {
  grid-area: content;
  flex-wrap: wrap;
}
#footer {
  grid-area: footer;
  background-color: rgb(221, 221, 221);
}

a{
  text-decoration: none;
  margin-left: 70px;
  color: white;
  font-size: 30px;
}

a:hover{
  color: rgb(71, 120, 255)
}

.opition{
  text-align: right;
  margin-right: 20vh;
  margin-top: 29px;
}

.text{
  text-align: center;
}

.information{
  font-size: 25px ;
  width: 50%;
  align-items: right;
}

img{
  height: 250px;
  align-items: right;
}